@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius; }

@mixin border-radius-top($radius) {
  @include border-radius-top-left($radius);
  @include border-radius-top-right($radius); }

@mixin border-radius-right($radius) {
  @include border-radius-top-right($radius);
  @include border-radius-bottom-right($radius); }

@mixin border-radius-bottom($radius) {
  @include border-radius-bottom-right($radius);
  @include border-radius-bottom-left($radius); }

@mixin border-radius-left($radius) {
  @include border-radius-top-left($radius);
  @include border-radius-bottom-left($radius); }

@mixin border-radius-top-right($radius) {
  @include border-radius-top-right($radius); }

@mixin border-radius-bottom-right($radius) {
  @include border-radius-bottom-right($radius); }

@mixin border-radius-bottom-left($radius) {
  @include border-radius-bottom-left($radius); }

@mixin border-radius-top-left($radius) {
  @include border-radius-top-left($radius); }

@mixin border-radius-top-right($radius) {
  border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius; }

@mixin border-radius-bottom-right($radius) {
  border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius; }

@mixin border-radius-bottom-left($radius) {
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius; }

@mixin border-radius-top-left($radius) {
  border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius; }
