// Our CSS styles written in SASS

@import "border-radius";

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #3B5998;
	&:hover { color: #3B5998; text-decoration: underline; }
	&:visited { color: #3B5998; }
}

#header {
	position: fixed;
	
	top: 0;
	width: 24em;
	left: 50%;
	margin-left: -12em;
	padding-bottom: 0.3em;
	
	background-color: white;
	
	border-bottom: 3px solid grey;
	border-left: 3px solid grey;
	border-right: 3px solid grey;
	
	@include border-radius-bottom(1em);
	
	text-align: center;
	
	.brand {
		font-size: 1.5em;
		.moto { color: #df8e00; }
		.mapia { color: #3ca0d0; }
	}
	
	#row2 {
		width: 100%;
	}
}

#busy {
	display: none;
	position: fixed;
	left: 50%;
	margin-left: 13em;
	top: 13px
}
#error {
	display: none;
	position: fixed;
	left: 50%;
	margin-left: 13.5em;
	top: 10px;
}

#instructions {
	font-size: 0.7em;
}

#map {
	width: 100%;
	height: 100%;
}

// This starts invisible, gets displayed and moved around when hovering over placemarks
#placeName {
	display: none;
	position: fixed;
	
	color: #E8E6C1;
	background-color: #c3390b;
	border: 1px solid #380e00;
	padding: 3px;
	font-size: 0.8em;
	margin-top: 20px;
	margin-left: 20px;
}